<div class="container">
  <div class="row">
    <div class="col-10 ">
      <input type="text" placeholder="代辦事項" class="form-control"
      (keyup.Enter)="create()" [value]="todoInput" >
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>待辦事項</p>
      <div *ngFor="let item of todos;let i = index">
        <ng-container *ngIf="false==item.completed">
          <input type="checkbox" id="todo_{{item.id}}">
          <label for="todo_{{item.id}}">{{item.title}}</label>
          <span class="" *ngFor="let number of [].constructor(item.tomatoCount)">
            <img src="./assets/images/iconfinder_tomato_104338.png">
          </span>
        </ng-container>
      </div>
    </div>
    <div class="col-12">
      <p>已完成事項</p>{{todos}}
      <div *ngFor="let item of todos;let i = index">
        <ng-container *ngIf="true==item.completed">
          <input type="checkbox" id="todo_{{item.id}}">
          <label for="todo_{{item.id}}">{{item.title}}</label>
          <span class="" *ngFor="let number of [].constructor(item.tomatoCount)">
            <img src="./assets/images/iconfinder_tomato_104338.png">
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
